<div id="draft_overlay" class="overlay new-style" data-overlay="drafts">
    <div class="flex overlay-content">
        <div class="drafts-container">
            <div class="overlay-header">
                <h1>{{t 'Drafts' }}</h1>
                <button type="button" class="exit" aria-label="{{t 'Close'}}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="drafts-list">
                <div class="no-drafts">
                    {{t 'No drafts.'}}
                </div>

                {{#each drafts}}
                {{partial "draft"}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
